# reading data in python - YouTube alex the Analyst

In [1]:
import pandas as pd

In [2]:
pwd

'/'

##Reading json files

In [ ]:
df_json = pd.read_json('/Users/henryoamen/Downloads/json_sample.json')
df_json

In [28]:
pd.set_option('display.max.columns', 50) #displays all columns of the json file

##reading tetx files

In [ ]:
df_txt = pd.read_table('/Users/henryoamen/Downloads/countries of the world.txt', '\t')
df_txt

In [ ]:
with open ('/Users/henryoamen/Downloads/countries of the world.txt') as df_txt:
    
    for lines in df_txt:
        print(lines, end=('*'))

##reading csv files

In [ ]:
df_csv = pd.read_csv('/Users/henryoamen/Downloads/countries of the world.csv') 
df_csv

##reading excel files

In [48]:
df = pd.read_excel('/Users/henryoamen/Downloads/world_population_excel_workbook.xlsx', sheet_name='Sheet1') #prints the sheet named 'Sheet1'
df

     Rank CCA3                           Country              Capital
0      36  AFG                       Afghanistan                Kabul
1     138  ALB                           Albania               Tirana
2      34  DZA                           Algeria              Algiers
3     213  ASM                    American Samoa            Pago Pago
4     203  AND                           Andorra     Andorra la Vella
5      42  AGO                            Angola               Luanda
6     224  AIA                          Anguilla           The Valley
7     201  ATG               Antigua and Barbuda       Saint Johnâ€™s
8      33  ARG                         Argentina         Buenos Aires
9     140  ARM                           Armenia              Yerevan
10    198  ABW                             Aruba           Oranjestad
11     55  AUS                         Australia             Canberra
12     99  AUT                           Austria               Vienna
13     91  AZE                        Azerbaijan                 Baku
14    176  BHS                           Bahamas               Nassau
15    154  BHR                           Bahrain               Manama
16      8  BGD                        Bangladesh                Dhaka
17    186  BRB                          Barbados           Bridgetown
18     96  BLR                           Belarus                Minsk
19     81  BEL                           Belgium             Brussels
20    177  BLZ                            Belize             Belmopan
21     77  BEN                             Benin           Porto-Novo
22    206  BMU                           Bermuda             Hamilton
23    165  BTN                            Bhutan              Thimphu
24     80  BOL                           Bolivia                Sucre
25    137  BIH            Bosnia and Herzegovina             Sarajevo
26    144  BWA                          Botswana             Gaborone
27      7  BRA                            Brazil             Brasilia
28    221  VGB            British Virgin Islands            Road Town
29    175  BRN                            Brunei  Bandar Seri Begawan
30    108  BGR                          Bulgaria                Sofia
31     58  BFA                      Burkina Faso          Ouagadougou
32     78  BDI                           Burundi            Bujumbura
33     73  KHM                          Cambodia           Phnom Penh
34     53  CMR                          Cameroon              Yaounde
35     39  CAN                            Canada               Ottawa
36    171  CPV                        Cape Verde                Praia
37    205  CYM                    Cayman Islands          George Town
38    117  CAF          Central African Republic               Bangui
39     69  TCD                              Chad            N'Djamena
40     65  CHL                             Chile             Santiago
41      1  CHN                             China              Beijing
42     28  COL                          Colombia               Bogota
43    163  COM                           Comoros               Moroni
44    223  COK                      Cook Islands               Avarua
45    124  CRI                        Costa Rica            San JosÃ©
46    130  HRV                           Croatia               Zagreb
47     85  CUB                              Cuba               Havana
48    189  CUW                           Curacao           Willemstad
49    158  CYP                            Cyprus              Nicosia
50     88  CZE                    Czech Republic               Prague
51    115  DNK                           Denmark           Copenhagen
52    160  DJI                          Djibouti             Djibouti
53    204  DMA                          Dominica               Roseau
54     84  DOM                Dominican Republic        Santo Domingo
55     15  COD                          DR Congo             Kinshasa
56     67  ECU                           Ecuador                Quito
57     14  EGY                             Egypt                Cairo
58    112  SLV                       El Salvador         San Salvador
59    152  GNQ                 Equatorial Guinea               Malabo
60    132  ERI                           Eritrea               Asmara
61    156  EST                           Estonia              Tallinn
62    159  SWZ                          Eswatini              Mbabane
63     12  ETH                          Ethiopia          Addis Ababa
64    231  FLK                  Falkland Islands              Stanley
65    209  FRO                     Faroe Islands            TÃ³rshavn
66    162  FJI                              Fiji                 Suva
67    118  FIN                           Finland             Helsinki
68     23  FRA                            France                Paris
69    184  GUF                     French Guiana              Cayenne
70    183  PYF                  French Polynesia              Papeete
71    146  GAB                             Gabon           Libreville
72    142  GMB                            Gambia               Banjul
73    131  GEO                           Georgia              Tbilisi
74     19  DEU                           Germany               Berlin
75     47  GHA                             Ghana                Accra
76    219  GIB                         Gibraltar            Gibraltar
77     90  GRC                            Greece               Athens
78    208  GRL                         Greenland                 Nuuk
79    193  GRD                           Grenada       Saint George's
80    178  GLP                        Guadeloupe          Basse-Terre
81    191  GUM                              Guam            HagÃ¥tÃ±a
82     68  GTM                         Guatemala       Guatemala City
83    207  GGY                          Guernsey     Saint Peter Port
84     75  GIN                            Guinea              Conakry
85    149  GNB                     Guinea-Bissau               Bissau
86    164  GUY                            Guyana           Georgetown
87     82  HTI                             Haiti       Port-au-Prince
88     89  HND                          Honduras          Tegucigalpa
89    104  HKG                         Hong Kong            Hong Kong
90     94  HUN                           Hungary             Budapest
91    179  ISL                           Iceland           ReykjavÃ­k
92      2  IND                             India            New Delhi
93      4  IDN                         Indonesia              Jakarta
94     17  IRN                              Iran               Tehran
95     35  IRQ                              Iraq              Baghdad
96    125  IRL                           Ireland               Dublin
97    202  IMN                       Isle of Man              Douglas
98     98  ISR                            Israel            Jerusalem
99     25  ITA                             Italy                 Rome
100    52  CIV                       Ivory Coast         Yamoussoukro
101   139  JAM                           Jamaica             Kingston
102    11  JPN                             Japan                Tokyo
103   195  JEY                            Jersey         Saint Helier
104    83  JOR                            Jordan                Amman
105    66  KAZ                        Kazakhstan            Nursultan
106    27  KEN                             Kenya              Nairobi
107   192  KIR                          Kiribati               Tarawa
108   129  KWT                            Kuwait          Kuwait City
109   110  KGZ                        Kyrgyzstan              Bishkek
110   103  LAO                              Laos            Vientiane
111   151  LVA                            Latvia                 Riga
112   119  LBN                           Lebanon               Beirut
113   147  LSO                           Lesotho               Maseru
114   121  LBR                           Liberia             Monrovia
115   107  LBY                             Libya              Tripoli
116   216  LIE                     Liechtenstein                Vaduz
117   141  LTU                         Lithuania              Vilnius
118   168  LUX                        Luxembourg           Luxembourg
119   167  MAC                             Macau    Concelho de Macau
120    50  MDG                        Madagascar         Antananarivo
121    62  MWI                            Malawi             Lilongwe
122    45  MYS                          Malaysia         Kuala Lumpur
123   174  MDV                          Maldives                MalÃ©
124    59  MLI                              Mali               Bamako
125   173  MLT                             Malta             Valletta
126   215  MHL                  Marshall Islands               Majuro
127   180  MTQ                        Martinique       Fort-de-France
128   126  MRT                        Mauritania           Nouakchott
129   157  MUS                         Mauritius           Port Louis
130   182  MYT                           Mayotte            Mamoudzou
131    10  MEX                            Mexico          Mexico City
132   194  FSM                        Micronesia              Palikir
133   135  MDA                           Moldova             Chisinau
134   217  MCO                            Monaco               Monaco
135   134  MNG                          Mongolia          Ulaanbaatar
136   169  MNE                        Montenegro            Podgorica
137   230  MSR                        Montserrat               Brades
138    40  MAR                           Morocco                Rabat
139    48  MOZ                        Mozambique               Maputo
140    26  MMR                           Myanmar          Nay Pyi Taw
141   145  NAM                           Namibia             Windhoek
142   225  NRU                             Nauru                Yaren
143    49  NPL                             Nepal            Kathmandu
144    71  NLD                       Netherlands            Amsterdam
145   185  NCL                     New Caledonia              NoumÃ©a
146   123  NZL                       New Zealand           Wellington
147   106  NIC                         Nicaragua              Managua
148    54  NER                             Niger               Niamey
149     6  NGA                           Nigeria                Abuja
150   232  NIU                              Niue                Alofi
151    56  PRK                       North Korea            Pyongyang
152   150  MKD                   North Macedonia               Skopje
153   210  NFK          Northern Mariana Islands               Saipan
154   120  NOR                            Norway                 Oslo
155   127  OMN                              Oman               Muscat
156     5  PAK                          Pakistan            Islamabad
157   222  PLW                             Palau            Ngerulmud
158   122  PSE                         Palestine             Ramallah
159   128  PAN                            Panama          Panama City
160    93  PNG                  Papua New Guinea         Port Moresby
161   109  PRY                          Paraguay            AsunciÃ³n
162    44  PER                              Peru                 Lima
163    13  PHL                       Philippines               Manila
164    37  POL                            Poland               Warsaw
165    92  PRT                          Portugal               Lisbon
166   136  PRI                       Puerto Rico             San Juan
167   143  QAT                             Qatar                 Doha
168   114  COG             Republic of the Congo          Brazzaville
169   161  REU                           Reunion          Saint-Denis
170    64  ROU                           Romania            Bucharest
171     9  RUS                            Russia               Moscow
172    76  RWA                            Rwanda               Kigali
173   228  BLM                  Saint Barthelemy             Gustavia
174   211  KNA             Saint Kitts and Nevis           Basseterre
175   190  LCA                       Saint Lucia             Castries
176   220  MAF                      Saint Martin              Marigot
177   229  SPM         Saint Pierre and Miquelon         Saint-Pierre
178   199  VCT  Saint Vincent and the Grenadines            Kingstown
179   188  WSM                             Samoa                 Apia
180   218  SMR                        San Marino           San Marino
181   187  STP             Sao Tome and Principe           SÃ£o TomÃ©
182    41  SAU                      Saudi Arabia               Riyadh
183    72  SEN                           Senegal                Dakar
184   105  SRB                            Serbia             Belgrade
185   196  SYC                        Seychelles             Victoria
186   102  SLE                      Sierra Leone             Freetown
187   113  SGP                         Singapore            Singapore
188   214  SXM                      Sint Maarten          Philipsburg
189   116  SVK                          Slovakia           Bratislava
190   148  SVN                          Slovenia            Ljubljana
191   166  SLB                   Solomon Islands              Honiara
192    70  SOM                           Somalia            Mogadishu
193    24  ZAF                      South Africa             Pretoria
194    29  KOR                       South Korea                Seoul
195    86  SSD                       South Sudan                 Juba
196    30  ESP                             Spain               Madrid
197    61  LKA                         Sri Lanka              Colombo
198    32  SDN                             Sudan             Khartoum
199   170  SUR                          Suriname           Paramaribo
200    87  SWE                            Sweden            Stockholm
201   101  CHE                       Switzerland                 Bern
202    60  SYR                             Syria             Damascus
203    57  TWN                            Taiwan               Taipei
204    95  TJK                        Tajikistan             Dushanbe
205    22  TZA                          Tanzania               Dodoma
206    20  THA                          Thailand              Bangkok
207   155  TLS                       Timor-Leste                 Dili
208   100  TGO                              Togo                LomÃ©
209   233  TKL                           Tokelau             Nukunonu
210   197  TON                             Tonga         Nukuâ€˜alofa
211   153  TTO               Trinidad and Tobago        Port-of-Spain
212    79  TUN                           Tunisia                Tunis
213    18  TUR                            Turkey               Ankara
214   111  TKM                      Turkmenistan             Ashgabat
215   212  TCA          Turks and Caicos Islands        Cockburn Town
216   227  TUV                            Tuvalu             Funafuti
217    31  UGA                            Uganda              Kampala
218    38  UKR                           Ukraine                 Kiev
219    97  ARE              United Arab Emirates            Abu Dhabi
220    21  GBR                    United Kingdom               London
221     3  USA                     United States     Washington, D.C.
222   200  VIR      United States Virgin Islands     Charlotte Amalie
223   133  URY                           Uruguay           Montevideo
224    43  UZB                        Uzbekistan             Tashkent
225   181  VUT                           Vanuatu            Port-Vila
226   234  VAT                      Vatican City         Vatican City
227    51  VEN                         Venezuela              Caracas
228    16  VNM                           Vietnam                Hanoi
229   226  WLF                 Wallis and Futuna             Mata-Utu
230   172  ESH                    Western Sahara            El AaiÃºn
231    46  YEM                             Yemen                Sanaa
232    63  ZMB                            Zambia               Lusaka
233    74  ZWE                          Zimbabwe               Harare

In [10]:
pd.set_option('display.max.rows', 235) #displays all the rows. Can be done for the columns as well

In [68]:
df[['Rank', 'Country']]

     Rank                           Country
0      36                       Afghanistan
1     138                           Albania
2      34                           Algeria
3     213                    American Samoa
4     203                           Andorra
5      42                            Angola
6     224                          Anguilla
7     201               Antigua and Barbuda
8      33                         Argentina
9     140                           Armenia
10    198                             Aruba
11     55                         Australia
12     99                           Austria
13     91                        Azerbaijan
14    176                           Bahamas
15    154                           Bahrain
16      8                        Bangladesh
17    186                          Barbados
18     96                           Belarus
19     81                           Belgium
20    177                            Belize
21     77                             Benin
22    206                           Bermuda
23    165                            Bhutan
24     80                           Bolivia
25    137            Bosnia and Herzegovina
26    144                          Botswana
27      7                            Brazil
28    221            British Virgin Islands
29    175                            Brunei
30    108                          Bulgaria
31     58                      Burkina Faso
32     78                           Burundi
33     73                          Cambodia
34     53                          Cameroon
35     39                            Canada
36    171                        Cape Verde
37    205                    Cayman Islands
38    117          Central African Republic
39     69                              Chad
40     65                             Chile
41      1                             China
42     28                          Colombia
43    163                           Comoros
44    223                      Cook Islands
45    124                        Costa Rica
46    130                           Croatia
47     85                              Cuba
48    189                           Curacao
49    158                            Cyprus
50     88                    Czech Republic
51    115                           Denmark
52    160                          Djibouti
53    204                          Dominica
54     84                Dominican Republic
55     15                          DR Congo
56     67                           Ecuador
57     14                             Egypt
58    112                       El Salvador
59    152                 Equatorial Guinea
60    132                           Eritrea
61    156                           Estonia
62    159                          Eswatini
63     12                          Ethiopia
64    231                  Falkland Islands
65    209                     Faroe Islands
66    162                              Fiji
67    118                           Finland
68     23                            France
69    184                     French Guiana
70    183                  French Polynesia
71    146                             Gabon
72    142                            Gambia
73    131                           Georgia
74     19                           Germany
75     47                             Ghana
76    219                         Gibraltar
77     90                            Greece
78    208                         Greenland
79    193                           Grenada
80    178                        Guadeloupe
81    191                              Guam
82     68                         Guatemala
83    207                          Guernsey
84     75                            Guinea
85    149                     Guinea-Bissau
86    164                            Guyana
87     82                             Haiti
88     89                          Honduras
89    104                         Hong Kong
90     94                           Hungary
91    179                           Iceland
92      2                             India
93      4                         Indonesia
94     17                              Iran
95     35                              Iraq
96    125                           Ireland
97    202                       Isle of Man
98     98                            Israel
99     25                             Italy
100    52                       Ivory Coast
101   139                           Jamaica
102    11                             Japan
103   195                            Jersey
104    83                            Jordan
105    66                        Kazakhstan
106    27                             Kenya
107   192                          Kiribati
108   129                            Kuwait
109   110                        Kyrgyzstan
110   103                              Laos
111   151                            Latvia
112   119                           Lebanon
113   147                           Lesotho
114   121                           Liberia
115   107                             Libya
116   216                     Liechtenstein
117   141                         Lithuania
118   168                        Luxembourg
119   167                             Macau
120    50                        Madagascar
121    62                            Malawi
122    45                          Malaysia
123   174                          Maldives
124    59                              Mali
125   173                             Malta
126   215                  Marshall Islands
127   180                        Martinique
128   126                        Mauritania
129   157                         Mauritius
130   182                           Mayotte
131    10                            Mexico
132   194                        Micronesia
133   135                           Moldova
134   217                            Monaco
135   134                          Mongolia
136   169                        Montenegro
137   230                        Montserrat
138    40                           Morocco
139    48                        Mozambique
140    26                           Myanmar
141   145                           Namibia
142   225                             Nauru
143    49                             Nepal
144    71                       Netherlands
145   185                     New Caledonia
146   123                       New Zealand
147   106                         Nicaragua
148    54                             Niger
149     6                           Nigeria
150   232                              Niue
151    56                       North Korea
152   150                   North Macedonia
153   210          Northern Mariana Islands
154   120                            Norway
155   127                              Oman
156     5                          Pakistan
157   222                             Palau
158   122                         Palestine
159   128                            Panama
160    93                  Papua New Guinea
161   109                          Paraguay
162    44                              Peru
163    13                       Philippines
164    37                            Poland
165    92                          Portugal
166   136                       Puerto Rico
167   143                             Qatar
168   114             Republic of the Congo
169   161                           Reunion
170    64                           Romania
171     9                            Russia
172    76                            Rwanda
173   228                  Saint Barthelemy
174   211             Saint Kitts and Nevis
175   190                       Saint Lucia
176   220                      Saint Martin
177   229         Saint Pierre and Miquelon
178   199  Saint Vincent and the Grenadines
179   188                             Samoa
180   218                        San Marino
181   187             Sao Tome and Principe
182    41                      Saudi Arabia
183    72                           Senegal
184   105                            Serbia
185   196                        Seychelles
186   102                      Sierra Leone
187   113                         Singapore
188   214                      Sint Maarten
189   116                          Slovakia
190   148                          Slovenia
191   166                   Solomon Islands
192    70                           Somalia
193    24                      South Africa
194    29                       South Korea
195    86                       South Sudan
196    30                             Spain
197    61                         Sri Lanka
198    32                             Sudan
199   170                          Suriname
200    87                            Sweden
201   101                       Switzerland
202    60                             Syria
203    57                            Taiwan
204    95                        Tajikistan
205    22                          Tanzania
206    20                          Thailand
207   155                       Timor-Leste
208   100                              Togo
209   233                           Tokelau
210   197                             Tonga
211   153               Trinidad and Tobago
212    79                           Tunisia
213    18                            Turkey
214   111                      Turkmenistan
215   212          Turks and Caicos Islands
216   227                            Tuvalu
217    31                            Uganda
218    38                           Ukraine
219    97              United Arab Emirates
220    21                    United Kingdom
221     3                     United States
222   200      United States Virgin Islands
223   133                           Uruguay
224    43                        Uzbekistan
225   181                           Vanuatu
226   234                      Vatican City
227    51                         Venezuela
228    16                           Vietnam
229   226                 Wallis and Futuna
230   172                    Western Sahara
231    46                             Yemen
232    63                            Zambia
233    74                          Zimbabwe

In [49]:
df.max

<bound method NDFrame._add_numeric_operations.<locals>.max of      Rank CCA3                           Country              Capital
0      36  AFG                       Afghanistan                Kabul
1     138  ALB                           Albania               Tirana
2      34  DZA                           Algeria              Algiers
3     213  ASM                    American Samoa            Pago Pago
4     203  AND                           Andorra     Andorra la Vella
5      42  AGO                            Angola               Luanda
6     224  AIA                          Anguilla           The Valley
7     201  ATG               Antigua and Barbuda       Saint Johnâ€™s
8      33  ARG                         Argentina         Buenos Aires
9     140  ARM                           Armenia              Yerevan
10    198  ABW                             Aruba           Oranjestad
11     55  AUS                         Australia             Canberra
12     99  AUT                           Austria               Vienna
13     91  AZE                        Azerbaijan                 Baku
14    176  BHS                           Bahamas               Nassau
15    154  BHR                           Bahrain               Manama
16      8  BGD                        Bangladesh                Dhaka
17    186  BRB                          Barbados           Bridgetown
18     96  BLR                           Belarus                Minsk
19     81  BEL                           Belgium             Brussels
20    177  BLZ                            Belize             Belmopan
21     77  BEN                             Benin           Porto-Novo
22    206  BMU                           Bermuda             Hamilton
23    165  BTN                            Bhutan              Thimphu
24     80  BOL                           Bolivia                Sucre
25    137  BIH            Bosnia and Herzegovina             Sarajevo
26    144  BWA                          Botswana             Gaborone
27      7  BRA                            Brazil             Brasilia
28    221  VGB            British Virgin Islands            Road Town
29    175  BRN                            Brunei  Bandar Seri Begawan
30    108  BGR                          Bulgaria                Sofia
31     58  BFA                      Burkina Faso          Ouagadougou
32     78  BDI                           Burundi            Bujumbura
33     73  KHM                          Cambodia           Phnom Penh
34     53  CMR                          Cameroon              Yaounde
35     39  CAN                            Canada               Ottawa
36    171  CPV                        Cape Verde                Praia
37    205  CYM                    Cayman Islands          George Town
38    117  CAF          Central African Republic               Bangui
39     69  TCD                              Chad            N'Djamena
40     65  CHL                             Chile             Santiago
41      1  CHN                             China              Beijing
42     28  COL                          Colombia               Bogota
43    163  COM                           Comoros               Moroni
44    223  COK                      Cook Islands               Avarua
45    124  CRI                        Costa Rica            San JosÃ©
46    130  HRV                           Croatia               Zagreb
47     85  CUB                              Cuba               Havana
48    189  CUW                           Curacao           Willemstad
49    158  CYP                            Cyprus              Nicosia
50     88  CZE                    Czech Republic               Prague
51    115  DNK                           Denmark           Copenhagen
52    160  DJI                          Djibouti             Djibouti
53    204  DMA                          Dominica               Roseau
54     84  DOM                Dominican Republic        Santo Domingo
55     15  COD                          DR Congo             Kinshasa
56     67  ECU                           Ecuador                Quito
57     14  EGY                             Egypt                Cairo
58    112  SLV                       El Salvador         San Salvador
59    152  GNQ                 Equatorial Guinea               Malabo
60    132  ERI                           Eritrea               Asmara
61    156  EST                           Estonia              Tallinn
62    159  SWZ                          Eswatini              Mbabane
63     12  ETH                          Ethiopia          Addis Ababa
64    231  FLK                  Falkland Islands              Stanley
65    209  FRO                     Faroe Islands            TÃ³rshavn
66    162  FJI                              Fiji                 Suva
67    118  FIN                           Finland             Helsinki
68     23  FRA                            France                Paris
69    184  GUF                     French Guiana              Cayenne
70    183  PYF                  French Polynesia              Papeete
71    146  GAB                             Gabon           Libreville
72    142  GMB                            Gambia               Banjul
73    131  GEO                           Georgia              Tbilisi
74     19  DEU                           Germany               Berlin
75     47  GHA                             Ghana                Accra
76    219  GIB                         Gibraltar            Gibraltar
77     90  GRC                            Greece               Athens
78    208  GRL                         Greenland                 Nuuk
79    193  GRD                           Grenada       Saint George's
80    178  GLP                        Guadeloupe          Basse-Terre
81    191  GUM                              Guam            HagÃ¥tÃ±a
82     68  GTM                         Guatemala       Guatemala City
83    207  GGY                          Guernsey     Saint Peter Port
84     75  GIN                            Guinea              Conakry
85    149  GNB                     Guinea-Bissau               Bissau
86    164  GUY                            Guyana           Georgetown
87     82  HTI                             Haiti       Port-au-Prince
88     89  HND                          Honduras          Tegucigalpa
89    104  HKG                         Hong Kong            Hong Kong
90     94  HUN                           Hungary             Budapest
91    179  ISL                           Iceland           ReykjavÃ­k
92      2  IND                             India            New Delhi
93      4  IDN                         Indonesia              Jakarta
94     17  IRN                              Iran               Tehran
95     35  IRQ                              Iraq              Baghdad
96    125  IRL                           Ireland               Dublin
97    202  IMN                       Isle of Man              Douglas
98     98  ISR                            Israel            Jerusalem
99     25  ITA                             Italy                 Rome
100    52  CIV                       Ivory Coast         Yamoussoukro
101   139  JAM                           Jamaica             Kingston
102    11  JPN                             Japan                Tokyo
103   195  JEY                            Jersey         Saint Helier
104    83  JOR                            Jordan                Amman
105    66  KAZ                        Kazakhstan            Nursultan
106    27  KEN                             Kenya              Nairobi
107   192  KIR                          Kiribati               Tarawa
108   129  KWT                            Kuwait          Kuwait City
109   110  KGZ                        Kyrgyzstan              Bishkek
110   103  LAO                              Laos            Vientiane
111   151  LVA                            Latvia                 Riga
112   119  LBN                           Lebanon               Beirut
113   147  LSO                           Lesotho               Maseru
114   121  LBR                           Liberia             Monrovia
115   107  LBY                             Libya              Tripoli
116   216  LIE                     Liechtenstein                Vaduz
117   141  LTU                         Lithuania              Vilnius
118   168  LUX                        Luxembourg           Luxembourg
119   167  MAC                             Macau    Concelho de Macau
120    50  MDG                        Madagascar         Antananarivo
121    62  MWI                            Malawi             Lilongwe
122    45  MYS                          Malaysia         Kuala Lumpur
123   174  MDV                          Maldives                MalÃ©
124    59  MLI                              Mali               Bamako
125   173  MLT                             Malta             Valletta
126   215  MHL                  Marshall Islands               Majuro
127   180  MTQ                        Martinique       Fort-de-France
128   126  MRT                        Mauritania           Nouakchott
129   157  MUS                         Mauritius           Port Louis
130   182  MYT                           Mayotte            Mamoudzou
131    10  MEX                            Mexico          Mexico City
132   194  FSM                        Micronesia              Palikir
133   135  MDA                           Moldova             Chisinau
134   217  MCO                            Monaco               Monaco
135   134  MNG                          Mongolia          Ulaanbaatar
136   169  MNE                        Montenegro            Podgorica
137   230  MSR                        Montserrat               Brades
138    40  MAR                           Morocco                Rabat
139    48  MOZ                        Mozambique               Maputo
140    26  MMR                           Myanmar          Nay Pyi Taw
141   145  NAM                           Namibia             Windhoek
142   225  NRU                             Nauru                Yaren
143    49  NPL                             Nepal            Kathmandu
144    71  NLD                       Netherlands            Amsterdam
145   185  NCL                     New Caledonia              NoumÃ©a
146   123  NZL                       New Zealand           Wellington
147   106  NIC                         Nicaragua              Managua
148    54  NER                             Niger               Niamey
149     6  NGA                           Nigeria                Abuja
150   232  NIU                              Niue                Alofi
151    56  PRK                       North Korea            Pyongyang
152   150  MKD                   North Macedonia               Skopje
153   210  NFK          Northern Mariana Islands               Saipan
154   120  NOR                            Norway                 Oslo
155   127  OMN                              Oman               Muscat
156     5  PAK                          Pakistan            Islamabad
157   222  PLW                             Palau            Ngerulmud
158   122  PSE                         Palestine             Ramallah
159   128  PAN                            Panama          Panama City
160    93  PNG                  Papua New Guinea         Port Moresby
161   109  PRY                          Paraguay            AsunciÃ³n
162    44  PER                              Peru                 Lima
163    13  PHL                       Philippines               Manila
164    37  POL                            Poland               Warsaw
165    92  PRT                          Portugal               Lisbon
166   136  PRI                       Puerto Rico             San Juan
167   143  QAT                             Qatar                 Doha
168   114  COG             Republic of the Congo          Brazzaville
169   161  REU                           Reunion          Saint-Denis
170    64  ROU                           Romania            Bucharest
171     9  RUS                            Russia               Moscow
172    76  RWA                            Rwanda               Kigali
173   228  BLM                  Saint Barthelemy             Gustavia
174   211  KNA             Saint Kitts and Nevis           Basseterre
175   190  LCA                       Saint Lucia             Castries
176   220  MAF                      Saint Martin              Marigot
177   229  SPM         Saint Pierre and Miquelon         Saint-Pierre
178   199  VCT  Saint Vincent and the Grenadines            Kingstown
179   188  WSM                             Samoa                 Apia
180   218  SMR                        San Marino           San Marino
181   187  STP             Sao Tome and Principe           SÃ£o TomÃ©
182    41  SAU                      Saudi Arabia               Riyadh
183    72  SEN                           Senegal                Dakar
184   105  SRB                            Serbia             Belgrade
185   196  SYC                        Seychelles             Victoria
186   102  SLE                      Sierra Leone             Freetown
187   113  SGP                         Singapore            Singapore
188   214  SXM                      Sint Maarten          Philipsburg
189   116  SVK                          Slovakia           Bratislava
190   148  SVN                          Slovenia            Ljubljana
191   166  SLB                   Solomon Islands              Honiara
192    70  SOM                           Somalia            Mogadishu
193    24  ZAF                      South Africa             Pretoria
194    29  KOR                       South Korea                Seoul
195    86  SSD                       South Sudan                 Juba
196    30  ESP                             Spain               Madrid
197    61  LKA                         Sri Lanka              Colombo
198    32  SDN                             Sudan             Khartoum
199   170  SUR                          Suriname           Paramaribo
200    87  SWE                            Sweden            Stockholm
201   101  CHE                       Switzerland                 Bern
202    60  SYR                             Syria             Damascus
203    57  TWN                            Taiwan               Taipei
204    95  TJK                        Tajikistan             Dushanbe
205    22  TZA                          Tanzania               Dodoma
206    20  THA                          Thailand              Bangkok
207   155  TLS                       Timor-Leste                 Dili
208   100  TGO                              Togo                LomÃ©
209   233  TKL                           Tokelau             Nukunonu
210   197  TON                             Tonga         Nukuâ€˜alofa
211   153  TTO               Trinidad and Tobago        Port-of-Spain
212    79  TUN                           Tunisia                Tunis
213    18  TUR                            Turkey               Ankara
214   111  TKM                      Turkmenistan             Ashgabat
215   212  TCA          Turks and Caicos Islands        Cockburn Town
216   227  TUV                            Tuvalu             Funafuti
217    31  UGA                            Uganda              Kampala
218    38  UKR                           Ukraine                 Kiev
219    97  ARE              United Arab Emirates            Abu Dhabi
220    21  GBR                    United Kingdom               London
221     3  USA                     United States     Washington, D.C.
222   200  VIR      United States Virgin Islands     Charlotte Amalie
223   133  URY                           Uruguay           Montevideo
224    43  UZB                        Uzbekistan             Tashkent
225   181  VUT                           Vanuatu            Port-Vila
226   234  VAT                      Vatican City         Vatican City
227    51  VEN                         Venezuela              Caracas
228    16  VNM                           Vietnam                Hanoi
229   226  WLF                 Wallis and Futuna             Mata-Utu
230   172  ESH                    Western Sahara            El AaiÃºn
231    46  YEM                             Yemen                Sanaa
232    63  ZMB                            Zambia               Lusaka
233    74  ZWE                          Zimbabwe               Harare>

In [30]:
df.info() #displayes all info regarding the excel file called df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     234 non-null    int64
 1   CCA3     234 non-null    object
 2   Country  234 non-null    object
 3   Capital  234 non-null    object
dtypes: int64(1), object(3)
memory usage: 7.4+ KB

In [31]:
df.shape # shows all all columns and rows

(234, 4)

In [32]:
df.head() #displays first five rows. value in the () can be specified to determine how many rows you wish to check

   Rank CCA3         Country           Capital
0    36  AFG     Afghanistan             Kabul
1   138  ALB         Albania            Tirana
2    34  DZA         Algeria           Algiers
3   213  ASM  American Samoa         Pago Pago
4   203  AND         Andorra  Andorra la Vella

In [33]:
df.tail() #displays last five rows of the dataframe. value in the () can be specified to determine how many rows you wish to check

     Rank CCA3            Country    Capital
229   226  WLF  Wallis and Futuna   Mata-Utu
230   172  ESH     Western Sahara  El AaiÃºn
231    46  YEM              Yemen      Sanaa
232    63  ZMB             Zambia     Lusaka
233    74  ZWE           Zimbabwe     Harare

In [34]:
df.loc[224] #looks for the actual value in that index

Rank               43
CCA3              UZB
Country    Uzbekistan
Capital      Tashkent
Name: 224, dtype: object

In [35]:
df.iloc[224] # looks for the specified index

Rank               43
CCA3              UZB
Country    Uzbekistan
Capital      Tashkent
Name: 224, dtype: object

In [51]:
df.loc[40:60:10] # selects from row 40 and in steps of tens

    Rank CCA3         Country   Capital
40    65  CHL           Chile  Santiago
50    88  CZE  Czech Republic    Prague
60   132  ERI         Eritrea    Asmara

#slicing, selecting and filtering datarows - YouTube Oggi AI

In [36]:
import numpy as np
import datetime
import random

In [53]:
df1 = pd.read_csv('/Users/henryoamen/Downloads/iris.data', names =['A','B','C','D','Label'])
df1.head() # this is the first way to slice data from the top so you can have a quick peek at the table

     A    B    C    D        Label
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [54]:
df1.tail(3)

       A    B    C    D           Label
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

In [55]:
df1.shape

(150, 5)

In [56]:
df1.loc[146:150] #

       A    B    C    D           Label
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

In [57]:
df1.loc[54:59:2] # the loc function helps to select specific rows of data

      A    B    C    D            Label
54  6.5  2.8  4.6  1.5  Iris-versicolor
56  6.3  3.3  4.7  1.6  Iris-versicolor
58  6.6  2.9  4.6  1.3  Iris-versicolor

In [59]:
df1.loc[::40] # prints every 40 steps pf data

       A    B    C    D            Label
0    5.1  3.5  1.4  0.2      Iris-setosa
40   5.0  3.5  1.3  0.3      Iris-setosa
80   5.5  2.4  3.8  1.1  Iris-versicolor
120  6.9  3.2  5.7  2.3   Iris-virginica

In [60]:
df1.loc[[5,12,12,17]] #  you can pass in a list of rows as well

      A    B    C    D        Label
5   5.4  3.9  1.7  0.4  Iris-setosa
12  4.8  3.0  1.4  0.1  Iris-setosa
12  4.8  3.0  1.4  0.1  Iris-setosa
17  5.1  3.5  1.4  0.3  Iris-setosa

In [62]:
df1.B

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
5      3.9
6      3.4
7      3.4
8      2.9
9      3.1
10     3.7
11     3.4
12     3.0
13     3.0
14     4.0
15     4.4
16     3.9
17     3.5
18     3.8
19     3.8
20     3.4
21     3.7
22     3.6
23     3.3
24     3.4
25     3.0
26     3.4
27     3.5
28     3.4
29     3.2
30     3.1
31     3.4
32     4.1
33     4.2
34     3.1
35     3.2
36     3.5
37     3.1
38     3.0
39     3.4
40     3.5
41     2.3
42     3.2
43     3.5
44     3.8
45     3.0
46     3.8
47     3.2
48     3.7
49     3.3
50     3.2
51     3.2
52     3.1
53     2.3
54     2.8
55     2.8
56     3.3
57     2.4
58     2.9
59     2.7
60     2.0
61     3.0
62     2.2
63     2.9
64     2.9
65     3.1
66     3.0
67     2.7
68     2.2
69     2.5
70     3.2
71     2.8
72     2.5
73     2.8
74     2.9
75     3.0
76     2.8
77     3.0
78     2.9
79     2.6
80     2.4
81     2.4
82     2.7
83     2.7
84     3.0
85     3.4
86     3.1
87     2.3
88     3.0
89     2.5
90     2.6
91     3.0
92     2.6
93     2.3
94     2.7
95     3.0
96     2.9
97     2.9
98     2.5
99     2.8
100    3.3
101    2.7
102    3.0
103    2.9
104    3.0
105    3.0
106    2.5
107    2.9
108    2.5
109    3.6
110    3.2
111    2.7
112    3.0
113    2.5
114    2.8
115    3.2
116    3.0
117    3.8
118    2.6
119    2.2
120    3.2
121    2.8
122    2.8
123    2.7
124    3.3
125    3.2
126    2.8
127    3.0
128    2.8
129    3.0
130    2.8
131    3.8
132    2.8
133    2.8
134    2.6
135    3.0
136    3.4
137    3.1
138    3.0
139    3.1
140    3.1
141    3.1
142    2.7
143    3.2
144    3.3
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: B, dtype: float64

In [67]:
df1[['B', 'D']]

       B    D
0    3.5  0.2
1    3.0  0.2
2    3.2  0.2
3    3.1  0.2
4    3.6  0.2
5    3.9  0.4
6    3.4  0.3
7    3.4  0.2
8    2.9  0.2
9    3.1  0.1
10   3.7  0.2
11   3.4  0.2
12   3.0  0.1
13   3.0  0.1
14   4.0  0.2
15   4.4  0.4
16   3.9  0.4
17   3.5  0.3
18   3.8  0.3
19   3.8  0.3
20   3.4  0.2
21   3.7  0.4
22   3.6  0.2
23   3.3  0.5
24   3.4  0.2
25   3.0  0.2
26   3.4  0.4
27   3.5  0.2
28   3.4  0.2
29   3.2  0.2
30   3.1  0.2
31   3.4  0.4
32   4.1  0.1
33   4.2  0.2
34   3.1  0.1
35   3.2  0.2
36   3.5  0.2
37   3.1  0.1
38   3.0  0.2
39   3.4  0.2
40   3.5  0.3
41   2.3  0.3
42   3.2  0.2
43   3.5  0.6
44   3.8  0.4
45   3.0  0.3
46   3.8  0.2
47   3.2  0.2
48   3.7  0.2
49   3.3  0.2
50   3.2  1.4
51   3.2  1.5
52   3.1  1.5
53   2.3  1.3
54   2.8  1.5
55   2.8  1.3
56   3.3  1.6
57   2.4  1.0
58   2.9  1.3
59   2.7  1.4
60   2.0  1.0
61   3.0  1.5
62   2.2  1.0
63   2.9  1.4
64   2.9  1.3
65   3.1  1.4
66   3.0  1.5
67   2.7  1.0
68   2.2  1.5
69   2.5  1.1
70   3.2  1.8
71   2.8  1.3
72   2.5  1.5
73   2.8  1.2
74   2.9  1.3
75   3.0  1.4
76   2.8  1.4
77   3.0  1.7
78   2.9  1.5
79   2.6  1.0
80   2.4  1.1
81   2.4  1.0
82   2.7  1.2
83   2.7  1.6
84   3.0  1.5
85   3.4  1.6
86   3.1  1.5
87   2.3  1.3
88   3.0  1.3
89   2.5  1.3
90   2.6  1.2
91   3.0  1.4
92   2.6  1.2
93   2.3  1.0
94   2.7  1.3
95   3.0  1.2
96   2.9  1.3
97   2.9  1.3
98   2.5  1.1
99   2.8  1.3
100  3.3  2.5
101  2.7  1.9
102  3.0  2.1
103  2.9  1.8
104  3.0  2.2
105  3.0  2.1
106  2.5  1.7
107  2.9  1.8
108  2.5  1.8
109  3.6  2.5
110  3.2  2.0
111  2.7  1.9
112  3.0  2.1
113  2.5  2.0
114  2.8  2.4
115  3.2  2.3
116  3.0  1.8
117  3.8  2.2
118  2.6  2.3
119  2.2  1.5
120  3.2  2.3
121  2.8  2.0
122  2.8  2.0
123  2.7  1.8
124  3.3  2.1
125  3.2  1.8
126  2.8  1.8
127  3.0  1.8
128  2.8  2.1
129  3.0  1.6
130  2.8  1.9
131  3.8  2.0
132  2.8  2.2
133  2.8  1.5
134  2.6  1.4
135  3.0  2.3
136  3.4  2.4
137  3.1  1.8
138  3.0  1.8
139  3.1  2.1
140  3.1  2.4
141  3.1  2.3
142  2.7  1.9
143  3.2  2.3
144  3.3  2.5
145  3.0  2.3
146  2.5  1.9
147  3.0  2.0
148  3.4  2.3
149  3.0  1.8

In [69]:
df1[['B', 'D']].head()

     B    D
0  3.5  0.2
1  3.0  0.2
2  3.2  0.2
3  3.1  0.2
4  3.6  0.2

In [70]:
df1[['B', 'D']].tail()

       B    D
145  3.0  2.3
146  2.5  1.9
147  3.0  2.0
148  3.4  2.3
149  3.0  1.8

In [71]:
df1.loc[50:60, 'A'] # this selects row 50 to 60 of column A

50    7.0
51    6.4
52    6.9
53    5.5
54    6.5
55    5.7
56    6.3
57    4.9
58    6.6
59    5.2
60    5.0
Name: A, dtype: float64

In [72]:
df1.loc[50:60, ['A', 'Label']] # it is also possible to pass in a list. loc is flexible as you can put in a list instead of a range in either column or rows.

      A            Label
50  7.0  Iris-versicolor
51  6.4  Iris-versicolor
52  6.9  Iris-versicolor
53  5.5  Iris-versicolor
54  6.5  Iris-versicolor
55  5.7  Iris-versicolor
56  6.3  Iris-versicolor
57  4.9  Iris-versicolor
58  6.6  Iris-versicolor
59  5.2  Iris-versicolor
60  5.0  Iris-versicolor

** filtering with loc function **

In [74]:
df1.loc[df1.A < 5] # selects only rows where column A value is less than 5

       A    B    C    D            Label
1    4.9  3.0  1.4  0.2      Iris-setosa
2    4.7  3.2  1.3  0.2      Iris-setosa
3    4.6  3.1  1.5  0.2      Iris-setosa
6    4.6  3.4  1.4  0.3      Iris-setosa
8    4.4  2.9  1.4  0.2      Iris-setosa
9    4.9  3.1  1.5  0.1      Iris-setosa
11   4.8  3.4  1.6  0.2      Iris-setosa
12   4.8  3.0  1.4  0.1      Iris-setosa
13   4.3  3.0  1.1  0.1      Iris-setosa
22   4.6  3.6  1.0  0.2      Iris-setosa
24   4.8  3.4  1.9  0.2      Iris-setosa
29   4.7  3.2  1.6  0.2      Iris-setosa
30   4.8  3.1  1.6  0.2      Iris-setosa
34   4.9  3.1  1.5  0.1      Iris-setosa
37   4.9  3.1  1.5  0.1      Iris-setosa
38   4.4  3.0  1.3  0.2      Iris-setosa
41   4.5  2.3  1.3  0.3      Iris-setosa
42   4.4  3.2  1.3  0.2      Iris-setosa
45   4.8  3.0  1.4  0.3      Iris-setosa
47   4.6  3.2  1.4  0.2      Iris-setosa
57   4.9  2.4  3.3  1.0  Iris-versicolor
106  4.9  2.5  4.5  1.7   Iris-virginica

In [78]:
df1.loc[df1['C'] == 1.4] # this will look at the df1 of C if the condition of equal to 1.4 (see below table) is true, it will print out the whole row

      A    B    C    D        Label
0   5.1  3.5  1.4  0.2  Iris-setosa
1   4.9  3.0  1.4  0.2  Iris-setosa
4   5.0  3.6  1.4  0.2  Iris-setosa
6   4.6  3.4  1.4  0.3  Iris-setosa
8   4.4  2.9  1.4  0.2  Iris-setosa
12  4.8  3.0  1.4  0.1  Iris-setosa
17  5.1  3.5  1.4  0.3  Iris-setosa
28  5.2  3.4  1.4  0.2  Iris-setosa
33  5.5  4.2  1.4  0.2  Iris-setosa
45  4.8  3.0  1.4  0.3  Iris-setosa
47  4.6  3.2  1.4  0.2  Iris-setosa
49  5.0  3.3  1.4  0.2  Iris-setosa

In [79]:
df1['C'] == 1.4

0       True
1       True
2      False
3      False
4       True
5      False
6       True
7      False
8       True
9      False
10     False
11     False
12      True
13     False
14     False
15     False
16     False
17      True
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28      True
29     False
30     False
31     False
32     False
33      True
34     False
35     False
36     False
37     False
38     False
39     False
40     False
41     False
42     False
43     False
44     False
45      True
46     False
47      True
48     False
49      True
50     False
51     False
52     False
53     False
54     False
55     False
56     False
57     False
58     False
59     False
60     False
61     False
62     False
63     False
64     False
65     False
66     False
67     False
68     False
69     False
70     False
71     False
72     False
73     False
74     False
75     False
76     False
77     False
78     False
79     False
80     False
81     False
82     False
83     False
84     False
85     False
86     False
87     False
88     False
89     False
90     False
91     False
92     False
93     False
94     False
95     False
96     False
97     False
98     False
99     False
100    False
101    False
102    False
103    False
104    False
105    False
106    False
107    False
108    False
109    False
110    False
111    False
112    False
113    False
114    False
115    False
116    False
117    False
118    False
119    False
120    False
121    False
122    False
123    False
124    False
125    False
126    False
127    False
128    False
129    False
130    False
131    False
132    False
133    False
134    False
135    False
136    False
137    False
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
Name: C, dtype: bool

In [80]:
df1.loc[df1['C'] == 1.4, 'Label'] #gives just the labels for those rows

0     Iris-setosa
1     Iris-setosa
4     Iris-setosa
6     Iris-setosa
8     Iris-setosa
12    Iris-setosa
17    Iris-setosa
28    Iris-setosa
33    Iris-setosa
45    Iris-setosa
47    Iris-setosa
49    Iris-setosa
Name: Label, dtype: object

In [82]:
df1['D'].loc[lambda x: x > 2.1] # prints only rows of data where rows is greater than 2.1

100    2.5
104    2.2
109    2.5
114    2.4
115    2.3
117    2.2
118    2.3
120    2.3
132    2.2
135    2.3
136    2.4
140    2.4
141    2.3
143    2.3
144    2.5
145    2.3
148    2.3
Name: D, dtype: float64

In [83]:
df1.iloc[:10]

     A    B    C    D        Label
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa
5  5.4  3.9  1.7  0.4  Iris-setosa
6  4.6  3.4  1.4  0.3  Iris-setosa
7  5.0  3.4  1.5  0.2  Iris-setosa
8  4.4  2.9  1.4  0.2  Iris-setosa
9  4.9  3.1  1.5  0.1  Iris-setosa

In [88]:
df1.index = [i for i in range (0,750,5)] # counts numerically from the beginning irrespective of whar the index is
df1.iloc[:10]

      A    B    C    D        Label
0   5.1  3.5  1.4  0.2  Iris-setosa
5   4.9  3.0  1.4  0.2  Iris-setosa
10  4.7  3.2  1.3  0.2  Iris-setosa
15  4.6  3.1  1.5  0.2  Iris-setosa
20  5.0  3.6  1.4  0.2  Iris-setosa
25  5.4  3.9  1.7  0.4  Iris-setosa
30  4.6  3.4  1.4  0.3  Iris-setosa
35  5.0  3.4  1.5  0.2  Iris-setosa
40  4.4  2.9  1.4  0.2  Iris-setosa
45  4.9  3.1  1.5  0.1  Iris-setosa

In [89]:
df1.iloc[:, 1].head(6)

0     3.5
5     3.0
10    3.2
15    3.1
20    3.6
25    3.9
Name: B, dtype: float64

In [90]:
df1.iloc[1:7, 2]

5     1.4
10    1.3
15    1.5
20    1.4
25    1.7
30    1.4
Name: C, dtype: float64

In [91]:
df1.query('B > C & C < 4*D') #querry uses parenthesis and takes in boolean. Always have  a quotation mark around the querry if you are using boolean

       A    B    C    D        Label
75   5.7  4.4  1.5  0.4  Iris-setosa
80   5.4  3.9  1.3  0.4  Iris-setosa
105  5.1  3.7  1.5  0.4  Iris-setosa
115  5.1  3.3  1.7  0.5  Iris-setosa
155  5.4  3.4  1.5  0.4  Iris-setosa
215  5.0  3.5  1.6  0.6  Iris-setosa

In [92]:
df1.query('A in [5.7,5.9]') # produces all rows that have either 5.7 or 5.9 for A

       A    B    C    D            Label
75   5.7  4.4  1.5  0.4      Iris-setosa
90   5.7  3.8  1.7  0.3      Iris-setosa
275  5.7  2.8  4.5  1.3  Iris-versicolor
305  5.9  3.0  4.2  1.5  Iris-versicolor
350  5.9  3.2  4.8  1.8  Iris-versicolor
395  5.7  2.6  3.5  1.0  Iris-versicolor
475  5.7  3.0  4.2  1.2  Iris-versicolor
480  5.7  2.9  4.2  1.3  Iris-versicolor
495  5.7  2.8  4.1  1.3  Iris-versicolor
565  5.7  2.5  5.0  2.0   Iris-virginica
745  5.9  3.0  5.1  1.8   Iris-virginica

In [93]:
df1.query('A != [5.7,5.9]')

       A    B    C    D            Label
0    5.1  3.5  1.4  0.2      Iris-setosa
5    4.9  3.0  1.4  0.2      Iris-setosa
10   4.7  3.2  1.3  0.2      Iris-setosa
15   4.6  3.1  1.5  0.2      Iris-setosa
20   5.0  3.6  1.4  0.2      Iris-setosa
25   5.4  3.9  1.7  0.4      Iris-setosa
30   4.6  3.4  1.4  0.3      Iris-setosa
35   5.0  3.4  1.5  0.2      Iris-setosa
40   4.4  2.9  1.4  0.2      Iris-setosa
45   4.9  3.1  1.5  0.1      Iris-setosa
50   5.4  3.7  1.5  0.2      Iris-setosa
55   4.8  3.4  1.6  0.2      Iris-setosa
60   4.8  3.0  1.4  0.1      Iris-setosa
65   4.3  3.0  1.1  0.1      Iris-setosa
70   5.8  4.0  1.2  0.2      Iris-setosa
80   5.4  3.9  1.3  0.4      Iris-setosa
85   5.1  3.5  1.4  0.3      Iris-setosa
95   5.1  3.8  1.5  0.3      Iris-setosa
100  5.4  3.4  1.7  0.2      Iris-setosa
105  5.1  3.7  1.5  0.4      Iris-setosa
110  4.6  3.6  1.0  0.2      Iris-setosa
115  5.1  3.3  1.7  0.5      Iris-setosa
120  4.8  3.4  1.9  0.2      Iris-setosa
125  5.0  3.0  1.6  0.2      Iris-setosa
130  5.0  3.4  1.6  0.4      Iris-setosa
135  5.2  3.5  1.5  0.2      Iris-setosa
140  5.2  3.4  1.4  0.2      Iris-setosa
145  4.7  3.2  1.6  0.2      Iris-setosa
150  4.8  3.1  1.6  0.2      Iris-setosa
155  5.4  3.4  1.5  0.4      Iris-setosa
160  5.2  4.1  1.5  0.1      Iris-setosa
165  5.5  4.2  1.4  0.2      Iris-setosa
170  4.9  3.1  1.5  0.1      Iris-setosa
175  5.0  3.2  1.2  0.2      Iris-setosa
180  5.5  3.5  1.3  0.2      Iris-setosa
185  4.9  3.1  1.5  0.1      Iris-setosa
190  4.4  3.0  1.3  0.2      Iris-setosa
195  5.1  3.4  1.5  0.2      Iris-setosa
200  5.0  3.5  1.3  0.3      Iris-setosa
205  4.5  2.3  1.3  0.3      Iris-setosa
210  4.4  3.2  1.3  0.2      Iris-setosa
215  5.0  3.5  1.6  0.6      Iris-setosa
220  5.1  3.8  1.9  0.4      Iris-setosa
225  4.8  3.0  1.4  0.3      Iris-setosa
230  5.1  3.8  1.6  0.2      Iris-setosa
235  4.6  3.2  1.4  0.2      Iris-setosa
240  5.3  3.7  1.5  0.2      Iris-setosa
245  5.0  3.3  1.4  0.2      Iris-setosa
250  7.0  3.2  4.7  1.4  Iris-versicolor
255  6.4  3.2  4.5  1.5  Iris-versicolor
260  6.9  3.1  4.9  1.5  Iris-versicolor
265  5.5  2.3  4.0  1.3  Iris-versicolor
270  6.5  2.8  4.6  1.5  Iris-versicolor
280  6.3  3.3  4.7  1.6  Iris-versicolor
285  4.9  2.4  3.3  1.0  Iris-versicolor
290  6.6  2.9  4.6  1.3  Iris-versicolor
295  5.2  2.7  3.9  1.4  Iris-versicolor
300  5.0  2.0  3.5  1.0  Iris-versicolor
310  6.0  2.2  4.0  1.0  Iris-versicolor
315  6.1  2.9  4.7  1.4  Iris-versicolor
320  5.6  2.9  3.6  1.3  Iris-versicolor
325  6.7  3.1  4.4  1.4  Iris-versicolor
330  5.6  3.0  4.5  1.5  Iris-versicolor
335  5.8  2.7  4.1  1.0  Iris-versicolor
340  6.2  2.2  4.5  1.5  Iris-versicolor
345  5.6  2.5  3.9  1.1  Iris-versicolor
355  6.1  2.8  4.0  1.3  Iris-versicolor
360  6.3  2.5  4.9  1.5  Iris-versicolor
365  6.1  2.8  4.7  1.2  Iris-versicolor
370  6.4  2.9  4.3  1.3  Iris-versicolor
375  6.6  3.0  4.4  1.4  Iris-versicolor
380  6.8  2.8  4.8  1.4  Iris-versicolor
385  6.7  3.0  5.0  1.7  Iris-versicolor
390  6.0  2.9  4.5  1.5  Iris-versicolor
400  5.5  2.4  3.8  1.1  Iris-versicolor
405  5.5  2.4  3.7  1.0  Iris-versicolor
410  5.8  2.7  3.9  1.2  Iris-versicolor
415  6.0  2.7  5.1  1.6  Iris-versicolor
420  5.4  3.0  4.5  1.5  Iris-versicolor
425  6.0  3.4  4.5  1.6  Iris-versicolor
430  6.7  3.1  4.7  1.5  Iris-versicolor
435  6.3  2.3  4.4  1.3  Iris-versicolor
440  5.6  3.0  4.1  1.3  Iris-versicolor
445  5.5  2.5  4.0  1.3  Iris-versicolor
450  5.5  2.6  4.4  1.2  Iris-versicolor
455  6.1  3.0  4.6  1.4  Iris-versicolor
460  5.8  2.6  4.0  1.2  Iris-versicolor
465  5.0  2.3  3.3  1.0  Iris-versicolor
470  5.6  2.7  4.2  1.3  Iris-versicolor
485  6.2  2.9  4.3  1.3  Iris-versicolor
490  5.1  2.5  3.0  1.1  Iris-versicolor
500  6.3  3.3  6.0  2.5   Iris-virginica
505  5.8  2.7  5.1  1.9   Iris-virginica
510  7.1  3.0  5.9  2.1   Iris-virginica
515  6.3  2.9  5.6  1.8   Iris-virginica
520  6.5  3.0  5.8  2.2   Iris-virginica
525  7.6  3.0  6.6  2.1   Iris-virginica
530  4.9  2.5  4.5  1.7   Iris-virginica
535  7.3  2.9  6.3  1.8   Iris-virginica
540  6.7  2.5  5.8  1.8   Iris-virginica
545  7.2  3.6  6.1  2.5   Iris-virginica
550  6.5  3.2  5.1  2.0   Iris-virginica
555  6.4  2.7  5.3  1.9   Iris-virginica
560  6.8  3.0  5.5  2.1   Iris-virginica
570  5.8  2.8  5.1  2.4   Iris-virginica
575  6.4  3.2  5.3  2.3   Iris-virginica
580  6.5  3.0  5.5  1.8   Iris-virginica
585  7.7  3.8  6.7  2.2   Iris-virginica
590  7.7  2.6  6.9  2.3   Iris-virginica
595  6.0  2.2  5.0  1.5   Iris-virginica
600  6.9  3.2  5.7  2.3   Iris-virginica
605  5.6  2.8  4.9  2.0   Iris-virginica
610  7.7  2.8  6.7  2.0   Iris-virginica
615  6.3  2.7  4.9  1.8   Iris-virginica
620  6.7  3.3  5.7  2.1   Iris-virginica
625  7.2  3.2  6.0  1.8   Iris-virginica
630  6.2  2.8  4.8  1.8   Iris-virginica
635  6.1  3.0  4.9  1.8   Iris-virginica
640  6.4  2.8  5.6  2.1   Iris-virginica
645  7.2  3.0  5.8  1.6   Iris-virginica
650  7.4  2.8  6.1  1.9   Iris-virginica
655  7.9  3.8  6.4  2.0   Iris-virginica
660  6.4  2.8  5.6  2.2   Iris-virginica
665  6.3  2.8  5.1  1.5   Iris-virginica
670  6.1  2.6  5.6  1.4   Iris-virginica
675  7.7  3.0  6.1  2.3   Iris-virginica
680  6.3  3.4  5.6  2.4   Iris-virginica
685  6.4  3.1  5.5  1.8   Iris-virginica
690  6.0  3.0  4.8  1.8   Iris-virginica
695  6.9  3.1  5.4  2.1   Iris-virginica
700  6.7  3.1  5.6  2.4   Iris-virginica
705  6.9  3.1  5.1  2.3   Iris-virginica
710  5.8  2.7  5.1  1.9   Iris-virginica
715  6.8  3.2  5.9  2.3   Iris-virginica
720  6.7  3.3  5.7  2.5   Iris-virginica
725  6.7  3.0  5.2  2.3   Iris-virginica
730  6.3  2.5  5.0  1.9   Iris-virginica
735  6.5  3.0  5.2  2.0   Iris-virginica
740  6.2  3.4  5.4  2.3   Iris-virginica

In [94]:
df1.query('B > 3.5 & D != [0.2, 1.0, 1.3, 1.4, 1.5, 1.8, 2.0, 2.3]') #query can handle many options

       A    B    C    D           Label
25   5.4  3.9  1.7  0.4     Iris-setosa
75   5.7  4.4  1.5  0.4     Iris-setosa
80   5.4  3.9  1.3  0.4     Iris-setosa
90   5.7  3.8  1.7  0.3     Iris-setosa
95   5.1  3.8  1.5  0.3     Iris-setosa
105  5.1  3.7  1.5  0.4     Iris-setosa
160  5.2  4.1  1.5  0.1     Iris-setosa
220  5.1  3.8  1.9  0.4     Iris-setosa
545  7.2  3.6  6.1  2.5  Iris-virginica
585  7.7  3.8  6.7  2.2  Iris-virginica

In [104]:
df2 = pd.read_csv('/Users/henryoamen/Downloads/pivot.csv')
df2

,2016-10-18 00:00:00,2007-09-09 00:00:00,2016-12-12 00:00:00,2017-04-14 00:00:00,2013-03-23 00:00:00,2017-12-07 00:00:00,2008-06-05 00:00:00,2004-12-06 00:00:00,1995-11-05 00:00:00,1996-09-12 00:00:00,2001-05-23 00:00:00,1997-07-08 00:00:00,1995-05-01 00:00:00,2008-11-06 00:00:00,2020-12-07 00:00:00,1998-02-03 00:00:00,1996-12-20 00:00:00,1998-04-25 00:00:00,2019-03-09 00:00:00,2019-08-25 00:00:00,2015-12-01 00:00:00,2004-04-08 00:00:00,2015-04-19 00:00:00,2013-12-23 00:00:00,2008-07-17 00:00:00,...,2009-05-09 00:00:00,1995-12-28 00:00:00,2014-05-25 00:00:00,1996-03-24 00:00:00,1996-11-12 00:00:00,2011-07-12 00:00:00,2009-11-24 00:00:00,2003-02-05 00:00:00,2010-07-06 00:00:00,1996-12-13 00:00:00,2014-10-11 00:00:00,2008-03-26 00:00:00,2019-07-07 00:00:00,2015-12-13 00:00:00,1997-08-21 00:00:00,2016-10-05 00:00:00,2016-10-08 00:00:00,2005-03-27 00:00:00,2011-03-08 00:00:00,2015-03-14 00:00:00,2001-10-11 00:00:00,1996-07-03 00:00:00,2006-10-22 00:00:00,2004-03-22 00:00:00,1998-12-07 00:00:00
0,0.282307,0.004984,0.652762,0.199284,0.163154,0.97011,0.289024,0.386977,0.036043,0.846645,0.302931,0.933359,0.151947,0.992775,0.465128,0.147074,0.089828,0.588345,0.349475,0.101675,0.079414,0.935829,0.107405,0.450672,0.838714,...,0.212482,0.264639,0.463959,0.473534,0.31034,0.486897,0.727636,0.585634,0.384836,0.504542,0.366937,0.522372,0.073303,0.121297,0.446345,0.065606,0.562805,0.680024,0.130537,0.966654,0.21805,0.920336,0.571546,0.298466,0.287668

In [105]:
df2 = df2.T #transposes the data
df2.head()

                            0
2016-10-18 00:00:00  0.282307
2007-09-09 00:00:00  0.004984
2016-12-12 00:00:00  0.652762
2017-04-14 00:00:00  0.199284
2013-03-23 00:00:00  0.163154

In [107]:
df2 = pd.read_csv('/Users/henryoamen/Downloads/pivot.csv')
df2 = df2.T #transposes the data
df2.index = pd.to_datetime(df2.index) #converts the strings it imports as index to datetime objects 
df2 = df2.rename(columns={0:'A'}) # renaming column to A
print(df2.shape) # prints out the shape
df2.head(8)

(100, 1)

                   A
2016-10-18  0.282307
2007-09-09  0.004984
2016-12-12  0.652762
2017-04-14  0.199284
2013-03-23  0.163154
2017-12-07  0.970110
2008-06-05  0.289024
2004-12-06  0.386977

In [108]:
df2['2004'] #datetime objects can be filtered by year

/var/folders/7d/sl5dzzsx155gs58mn9gzrq600000gp/T/ipykernel_6814/3721733759.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df2['2004']

                   A
2004-12-06  0.386977
2004-04-08  0.935829
2004-05-08  0.758977
2004-11-23  0.715888
2004-07-27  0.150444
2004-03-22  0.298466

In [109]:
df2[:'1996'] # prints from the beginning up to 1996

                   A
1995-11-05  0.036043
1996-09-12  0.846645
1995-05-01  0.151947
1996-12-20  0.089828
1996-08-19  0.063091
1996-09-09  0.341152
1996-07-15  0.037961
1996-03-07  0.438196
1995-03-25  0.891538
1996-09-02  0.067328
1995-12-28  0.264639
1996-03-24  0.473534
1996-11-12  0.310340
1996-12-13  0.504542
1996-07-03  0.920336

In [110]:
df2['20131001': '2015'] # python knows how to convert tge format into date and prints date from 20131001 till 2015

/var/folders/7d/sl5dzzsx155gs58mn9gzrq600000gp/T/ipykernel_6814/1012172678.py:1: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  df2['20131001': '2015']

                   A
2015-12-01  0.079414
2015-04-19  0.107405
2013-12-23  0.450672
2014-06-23  0.262657
2014-04-02  0.647090
2013-11-07  0.819050
2014-03-11  0.468549
2014-05-25  0.463959
2014-10-11  0.366937
2015-12-13  0.121297
2015-03-14  0.966654

In [111]:
df2.query('0.90 > A > 0.85') #df.query can also be used on time series data

                   A
1995-03-25  0.891538
2009-06-04  0.884981